@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.body-container {
  display: grid;
  grid-template-areas:
    "nav nav"
    "side-menu main ";
  grid-gap: 0.1rem;
  font-family: "Roboto", sans-serif;
  background-color: var(--secondary-color-two);
}

.nav-bar {
  grid-area: nav;
}

.logo-container {
  width: 2rem;
}

.brand-container {
  display: flex;
  flex-direction: row;
}

.side-menu {
  grid-area: side-menu;
  width: 15vw;
  padding: 1rem;
  position: sticky;
  top: 4.5rem;
  height: calc(100vh - 4.5rem);
  overflow-y: auto;
}

.side-menu a {
  margin: auto;
}
.main-container {
  grid-area: main;
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.component-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.component-container-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.component-section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: auto;
}

.code-snippet {
  align-self: center;
  padding: 1rem;
}

.component-container img {
  margin-top: 1rem;
}
