@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.body-container{
    display: grid;
    grid-template-areas: 
    "nav nav nav nav"
    "side-menu main main main"
    "side-menu main main main";
    grid-gap: 0.1rem;
    font-family: 'Roboto', sans-serif;
    /* background-color: var(--grey50); */
}

.nav-bar{
    grid-area: nav;
}

.logo-container{
    width: 10px;
}

.side-menu{
    grid-area: side-menu;
    width: 15vw;
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
.side-menu  a{
    margin: auto;
}
.main-container{
    grid-area: main;
    border: 1px solid black;
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}


/* .img-responsive{
    width: 10px;
} */