@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("/components/avatar/avatar.css");
@import url("/components/alert/alert.css");
@import url("/components/button/btn.css");
@import url("/components/button/btn-primary.css");
@import url("/components/button/btn-secondary.css");
@import url("/components/button/btn-link.css");
@import url("/components/button/btn-float.css");
@import url("/components/button/btn-icon.css");
@import url("/components/avatar/avatar-badge-active.css");
@import url("/components/avatar/avatar-badge-busy.css");
@import url("/components/card/card.css");
@import url("/components/button/btn-primary-dark.css");
@import url("/components/avatar/avatar-badge-neutral.css");
@import url("/components/card/card-gradient.css");
@import url("/components/card/card-shadow.css");
@import url("/components/card/card-border.css");
@import url("/components/image/img-responsive.css");
@import url("/components/image/img-round.css");
@import url("/components/input/textbox.css");
@import url("/components/input/inputbox.css");
@import url("/components/list/list.css");
@import url("/components/list/list-stacked.css");
@import url("/components/list/list-menu.css");
@import url("/components/nav/nav-bar.css");
@import url("/components/nav/nav-bar-shadow.css");
@import url("/components/loading/spinner.css");
@import url("/components/loading/ripple.css");
@import url("/components/loading/splash-screen.css");
/* @import url("/components/scroll/scroll-bar.css"); */
@import url("/components/scroll/scroll-behaviour.css");
@import url("/components/button/btn-thin.css");
@import url("/components/badge/badge.css");

:root {
  --primary-color: #0a192f;
  --secondary-color: #c7d2fe;
  --secondary-color-two: #eef2ff;
  --secondary-color-two-rgb: 238, 242, 255;
  --grey50: #f9fafb;
  --grey200: #e5e7eb;
  --black-rgb: 0, 0, 0;
  --z-index-max: 10;
  --padding-1rem: 1rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.display-none {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}
