:root{
    --primary-color : #204E4A ;
    --secondary-color: #81C14B ;
}

*{
    margin: 0;
    padding: 0;
}
.layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.avatar{
    width: 100%;
    height: auto;
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
}
