.btn-link{
    background-color: var(--secondary-color);
    border: 0;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    margin: 1rem 0.5rem;
    text-decoration: none;
    color: var(--primary-color);
    font-size: large;
    border: 2px solid;
}
.btn-link:hover {
    background-color: var(--primary-color);
    border: 0;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    margin: 1rem 0.5rem;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: large;
    border: 2px solid var(--secondary-color);
  }
