.btn-float{
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    z-index: 1;
    background-color: var(--secondary-color-two);
    color: var(--primary-color);
    border-radius: 20%;
    border: 2px solid var(--primary-color);
    padding: 1rem 1.5rem;
    cursor: pointer;
    font-size: large;
}

.btn-float:hover{
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 20%;
    border: 2px solid var(--secondary-color-two);
    padding: 1rem 1.5rem;
    cursor: pointer;
    font-size: large;
}