.btn-icon {
    color: var(--secondary-color-two);
    background-color: inherit;
    border: 0;
    font-size: x-large;
    outline: none;
  }

.btn-icon .badge{
    position: relative;
    top: -1rem;
    left: -0.3rem;
    background-color: tomato;
    border: 2px solid var(--secondary-color-two);
    border-radius: 50%;
    padding  :  0 0.3rem;
    font-size: 0.5em;
}